button {
  background-color: #c62828;
  border: none;
  width: 175px;
  height: 35px;
  color: white;
}

button:hover {
  background-color: #a52323;
}

select {
  border-radius: 5px;
  width: 175px;
  height: 35px;
}

select:focus {
  outline-color: #388e3c;
}