.App {
  text-align: center;
}

.filter-child-button {
  border: none;
  width: 175px;
  height: 35px;
  color: white;
  margin-inline: 10px;
  border-radius: 5px;
}

.filter-child-button:hover {
  background-color: #a52323;
}

.generate-pdf-button {
  background-color: #c62828;
  border: none;
  width: auto;
  color: white;
  margin-inline: 10px;
  border-radius: 5px;
}

.select-filter {
  width: 275px;
}